<!DOCTYPE html>
<html>
<head>
  <script src="../static/mathjax-config.js" defer></script>
  <script type="text/javascript" id="MathJax-script" defer
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  <title>Проверочная работа началась</title>
</head>
<body>
<h1 th:text="${exam.ticket.question}"></h1>
<form th:action="@{/home/{subject_id}_exam(subject_id = ${exam.subject.id})}" method="post" th:object="${exam}">
  <label for="latexInput">Введите решение</label>
  <br>
  <textarea id="latexInput" name="latexInput" rows="10" cols="80" th:field="*{solution}"></textarea>
  <br>
  <button type="button" onclick="compileLatex()">Compile LaTeX</button>
  <br>
  <label for="output">Output:</label>
  <br>
  <div id="output"></div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script>
  function compileLatex() {
    const latexInput = document.getElementById("latexInput").value;
    const output = document.getElementById("output");
    output.innerHTML = latexInput;
    MathJax.typeset([output]);
  }
</script>
</body>
</html>

