<!DOCTYPE html>
<html>
<head>
  <<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es7"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es8"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es9"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2017"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2018"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2019"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2020"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2021"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=Symbol"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=URL"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=URLSearchParams"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <title>Exam process</title>
</head>
<body>
<h1 th:text="${exam.ticket.question}"></h1>
<form th:action="@{/home/{subject_id}_exam}" method="post" th:object="${exam}">
  <label for="latexInput">Enter solution</label>
  <br>
  <textarea id="latexInput" name="latexInput" rows="10" cols="80" th:field="*{solution}"></textarea>
  <br>
  <button type="button" onclick="compileLatex()">Compile LaTeX</button>
  <br>
  <label for="output">Output:</label>
  <br>
  <div id="output"></div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script>
  function compileLatex() {
    const latexInput = document.getElementById("latexInput").value;
    const output = document.getElementById("output");
    output.innerHTML = latexInput;
    MathJax.typeset([output]);
  }
</script>
</body>
</html>
