<div th:fragment="footer">
    <div class="container p-4">
        <footer class="disqus-footer__wrapper disqus-footer__wrapper--refresh border-top">
            <div class="d-flex align-items-center">
                <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" href="/">
                    <svg class="bi" height="24" width="30">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="text-muted">© 2023 ФПМИ МФТИ ERP 120 группа</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="text-muted" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="text-muted" href="#">
                    <svg class="bi" height="24" width="24">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a></li>
            </ul>
        </footer>
    </div>
</div>